.links {
    width: 100%;
    display: flex;
    font-size: 48px;
    z-index: 10000;
    align-items: center;
    justify-content: space-between;
}
.link {
    color: var(--COLOR-LIGHTER);
    transition: 0.2s ease-in-out all;
    text-align: center;
    font-weight: 600;
}
.link:hover {
    color: var(--COLOR-ALT);
}
.active {
    color: var(--COLOR-LIGHT);

}
.name {
    display: none;
}
@media (min-width: 640px) {
    .links {
        color: unset;
        width: unset;
        display: unset;
        font-size: 18px;
    }
    .link {
        margin: 1rem 0;
        padding-top: unset;
        padding-bottom: unset;
        border-top: none;
        text-align: unset;
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
    .name {
        display: unset;
    }
}

@media (min-width: 768px) {
    .link {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .link {
        font-size: 24px;
    }
}