.links {
    width: 100%;
    display: flex;
    z-index: 10000;
    align-items: center;
    justify-content: space-around;
    gap: 2.5rem;
}
.link {
    color: var(--COLOR-LIGHTER);
    transition: 0.2s ease-in-out all;
    align-items: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    position: relative;
}

.active {
    color: var(--COLOR-LIGHT);
}
.icon {
    font-size: 32px;
}
.name {
    position: absolute;
    font-size: 12px;
    left: -11px;
    display: grid;
    place-items: center;
    bottom: -3px;
    width: 60px;
}
@media (min-width: 640px) {
    .links {
        justify-content: space-around;
        gap: 0;
    }
    .link {
        margin: 1rem 0;
        color: var(--COLOR-DARK);
        padding-top: unset;
        padding-bottom: unset;
        border-top: none;
        text-align: unset;
        flex-direction: row;
        align-items: center;
        gap: 0.8rem;
    }
    .link:hover {
        color: var(--COLOR-ALT);
    }
    .icon {
        font-size: 18px;
    }
    .name {
        position: unset;
        width: unset;
        font-size: 20px;
    }
    .active {
        color: var(--COLOR-LIGHT);
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    .links {
        justify-self: flex-end;
    }
}

@media (min-width: 1024px) {
    .links {
        width: 50%;
    }
}
