.container {
    position: fixed;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    padding: var(--PADDING-NAV);
    z-index: 100;
    max-width: 1440px;
    backdrop-filter: blur(3px);
}
.backdrop {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--COLOR-DARK);
    opacity: 85%;

}
@media (min-width: 640px) {
    .container {
        position: unset;
        top: 0;
        height: 20px;
        border-top-right-radius: var(--BORDER-RADIUS-PAGE);
        border-top-left-radius: var(--BORDER-RADIUS-PAGE);
        background-color: unset;
    }
    .backdrop {
        display: none;
    }
}
@media (min-width: 1024px) {
    .container {
        place-content: flex-end;
    }
}