.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: var(--COLOR-LIGHTER);
    width: 280px;
    border-bottom-left-radius: var(--BORDER-RADIUS-PAGE);
    border-top-left-radius: var(--BORDER-RADIUS-PAGE);
    padding: var(--PADDING-NAV);
    background: var(--BACKGROUND-GRADIENT);
}
.name {
    font-size: 24px;
    font-weight: 600;
}
.image {
    border-radius: 50%;
    min-width: 160px;
}

.links {
    list-style: none;
    font-size: 22px;
}
.link {
    margin: 1rem;
    transition: 0.2s ease-in-out all;
}
.link:hover {
    color: var(--COLOR-LIGHT)
}
.active {
    color: var(--COLOR-ALT)
}