.container {
    border-bottom-right-radius: var(--BORDER-RADIUS-PAGE);
    border-top-right-radius: var(--BORDER-RADIUS-PAGE);
    padding: var(--PADDING-PAGE);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 640px) {

}