.container {
    border-bottom-right-radius: var(--BORDER-RADIUS-PAGE);
    border-top-right-radius: var(--BORDER-RADIUS-PAGE);
    padding: var(--PADDING-PAGE);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (min-width: 640px) {

}