.container {
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    max-width: 1600px;
}
.content {
    background-color: var(--COLOR-BACKGROUND);

}


@media (min-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
    .content {
        padding-top: 0;
    }
}

