.container {
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    padding-bottom: 5rem;
}
.content {
    background-color: var(--COLOR-BACKGROUND);
    margin: 0 auto;
    width: 100vw;

}

@media (min-width: 640px) {
    .container {
        padding-bottom: 0;
    }
    .content {
        padding-top: 4rem;
    }
}
@media (min-width: 768px) {
    .container {

    }
}

