.container {
    border-bottom-right-radius: var(--BORDER-RADIUS-PAGE);
    border-top-right-radius: var(--BORDER-RADIUS-PAGE);
    padding: var(--PADDING-PAGE);
}
.title {
    font-size: 64px;

}
.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.projects {
    display: flex;

    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
}

@media (min-width: 640px) {
    .projects {
        gap: 8rem;
    }
}

@media (min-width: 1024px) {
    .text {
        font-size: 20px;
    }
}