.container {
    background-image: url("../../assets/images/monitor.png");
    width: 250px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;


}

.image {
    position: absolute;
    top: 9px;
    left: 8px;
    width: 234px;
    height: 126px;
    border-radius: 3px;


}
