.container {
    z-index: 1000;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.preview {
    background: black;
    border-radius: 2rem;
    padding: 1rem;
}