
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-size: cover;
    transition: filter 2s ease-in-out;
}
.heading {
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: 600;
    color: var(--COLOR);
}
@keyframes __bounceInRight {

}

.name {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.title {
    font-size: 24px;
    text-align: center;
}
.buttons {
    display: flex;
    gap: 1rem;
}
.bio {

}
@media (min-width: 640px) {
    .profilePic {

    }
    .name {
        text-align: unset;
    }
    .title {
        text-align: unset;
    }
}