
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-size: cover;
    transition: filter 2s ease-in-out;
}
.heading {
    display: flex;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: 600;
    color: var(--COLOR);
    position: relative;
    z-index: 1;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.name {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.title {
    font-size: 24px;
    text-align: center;
}
.buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    z-index: 1;
}


@media (min-width: 640px) {
    .name {
        text-align: unset;
    }
    .heading {
        justify-content: flex-start;
        font-size: 32px;
    }
    .title {
        text-align: unset;
    }
}