
@media (min-width: 940px) {
    .container {
        font-size: 24px;
        padding: 4rem 0;
        display: flex;
        justify-content: space-around;

    }
}

@media (min-width: 1024px) {
    .container {
        font-size: 28px;
    }
}
