.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--COLOR);
    font-weight: 600;
    animation: slideInLeft 200ms ease-out;
}
.hello {
    font-size: 20px;
    font-weight: 700;
}
.line1 {
    display: flex;
    align-items: flex-end;
}
.name {
    font-size: 28px;
    font-weight: 800;
}
.title {
    font-size: 18px;
}
.pic {
    animation: slideInRight 200ms ease-out;
}
.imageContainer {
    position: relative;
    display: grid;
    place-items: center;
    width: 150px;
    height: 150px;
}

.bg {
    position: absolute;
    width: 250px;
    overflow: clip;
}
.image {
    position: absolute;
    margin: 0 auto;
    border-radius: 10px;
    width: 140px;
}




@keyframes slideInRight {
    0% {
        transform: translate3d(50%, -50%, 0px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes slideInLeft {
    0% {
        transform: translate3d(-50%, -50%, 0px);
    }
    100% {
        transform: translate(0);
    }
}
@media (min-width: 640px) {
    .hello {
        font-size: 20px;
    }
    .name {
        font-size: 48px;
        font-weight: 800;
    }
    .title {
        font-size: 20px;
    }
}