.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: 1rem;
}
.coverImage {
    display: none;
}
.title {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}
.screenshotsTech {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}
.tech {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.links {
    display: flex;
    gap: 2rem;
    justify-content: start;
}
.togglePreview {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    gap: 0.1rem;
    align-items: center;
}
.preview {
    position: relative;
}
@media (min-width: 600px) {
    .container {
        min-height: 265px;
    }
    .coverTitle {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
    .coverImage {
        display: unset;
        width: 120px;
        height: 80px;
    }
    .title {
        font-size: 36px;
    }
    .tech {
        flex-direction: row;
        padding-right: 2rem;
    }
    .captions {
        padding-right: 14rem;
    }

    .screenshotsTech {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -2rem;
    }
}
