.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: 2rem;
}
.coverImage {
    display: none;
}
.title {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}
.heading {
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}
.captions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.screenshots {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}
.tech {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0;
}
.links {
    display: flex;
    padding-top: 1rem;
    gap: 2rem;
    justify-content: space-around;
}
.togglePreview {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    gap: 0.1rem;
    align-items: center;
}
.links {
    z-index: 100;
}
.arrow {
    display: flex;
    align-items: center;
}
.arrow:hover {
    color: var(--COLOR-ALT);
}
@media (min-width: 1024px) {
    .container {
        min-height: 360px;
        position: relative;
    }
    .head {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-bottom: 1rem;
        align-items: center;
    }
    .body {
        margin-left: 15rem;
    }
    .title {
        font-size: 28px;
        font-weight: 800;
    }
    .heading {
        padding-left: 1rem;
        font-size: 18px;
        border-left: 2px solid var(--COLOR-DARK);
        line-height: 1.7rem;
    }
    .tech {
        flex-direction: row;
    }
    .captions {

    }
    .screenshots {
        position: absolute;
        bottom: 16rem;


    }
}
@media (min-width: 1280px) {
    .coverTitle {

    }

}
