.container {
    position: relative;
}
.mobile {
    position: absolute;
    left: 10rem;
    top: 4rem;
}

@media (min-width: 1024px) {
    .mobile {
        left: -6rem;
        top: 7rem;
    };
}
