:root {
  --COLOR-LIGHTER: #e4d7cc;
  --COLOR-LIGHT: #F3AAA1;
  --COLOR: #f14b4a;
  --COLOR-DARK: #57423F;
  --COLOR-ALT: #0cd87a;
  --COLOR-BACKGROUND: #F3EED9;

  --PADDING-PAGE: 1rem;
  --PADDING-NAV: 1rem;
  --BORDER-RADIUS-PAGE: 8px;

  @media (min-width: 640px) {
    --PADDING-PAGE: 2rem;
    --PADDING-NAV: 2rem 1rem;
  }

  font-family: "Mukta", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--COLOR-DARK);
  background-color: var(--COLOR-BACKGROUND);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, :after, :before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  white-space: break-spaces;
  text-align: justify;
  hyphens: auto;
}
ul {
  list-style: disc;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
