@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-background-size: calc(100vw) calc(100vh);
    -moz-background-size: calc(100vw) calc(100vh);
    -o-background-size: calc(100vw) calc(100vh);
    background-size: calc(100vw) calc(100vh);
    --COLOR-LIGHTER: #bbe4e9;
    --COLOR-LIGHT: #79c2d0;
    --COLOR: #53a8b6;
    --COLOR-DARK: #5585b5;
    --BACKGROUND-GRADIENT: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}
body {
    background: var(--BACKGROUND-GRADIENT);



}
nav {
    background-color: var(--BACKGROUND-GRADIENT);
}
@media (min-width: 600px) {

}